.intro-name{

  font-size: 4em;
  font-weight: 700px;
}

.intro-tag{
  
  padding-bottom: 2px;
}

.page{
  
  height: 750px;
  padding-top: 0px;

}
.navbar{
margin-bottom: 0 !important;
height: 10vh;
justify-content: space-around;
position: fixed;
color:red;
}

#topBar{
background-color: rgb(0, 0, 0) ;

}

.paddingTop{
  margin-top: 100px;
}

.navbar-brand{
  font-size:1.3em;
margin-top: 10px;
color:red;
}



.header{
    padding-top: 200px;
      padding-bottom: 0px;
       
    }


body{
  background-color:white;
  font-family:Lobster;
  color:white;
}

.nav-item a{
    font-size:1.3em;
  margin-top: 10px;

display: block;
height: inherit;

}

.nav-item a:active {
    color: yellow;
}

/*.container{
  color:white;
 
 

}*/

.pageOne{
background: #02a8f3;
}
.pageTwo{
  padding-top: 40px;
  background-color:white;
}

.pageThree{
  padding-top:1%;
  padding-bottom: 2%; 
}

.me{

   border-radius: 50%;
   float: left;
 
}

.row{
 /* padding-left: 180px;*/
  padding-top: 50px;
}
#image{
  padding-left: 180px;*/
  padding-top: 50px;
}

.col-md-6{
  margin-left: 0px;
  padding-left:0px;
  float: left;
}

.intro-text{
padding: 0 ;
margin: 0;
float:center;
}

#twitter{
  color:rgb(0,172,237);
}
#github{
  color:rgb(102, 43, 129);
}
#linkedin{
  color:rgb(0, 127, 178);
}

#youtube{
  color:rgb(0, 172, 237);
}



#p4{
   padding-top: 40px;
}